* {
  list-style: none;
  text-decoration: none;
  font-family: "Lato";
}

.nav-link::after {
  border: none;
  font: var(--fa-font-solid);
  content: "\f078";
  vertical-align: 0;
  color: white;
}

.nav-link:hover::after {
  content: "\f077";
  color: white;
}

.gap-10 {
  gap: 10px;
}

.nav-item .form-control {
  top: 0;
  left: 4px;
  transform: translateY(22%);
  color: white;
}
.nav-item .form-control:focus {
  color: white;
  box-shadow: none;
}
.nav-item .form-control::placeholder {
  color: white;
  opacity: 0.8;
}

.nav-item:hover .dropdown-menu {
  display: flex;
  top: 50px;
}
.nav-item:hover .dropdown-menu .dropdown-item {
  margin-left: 0;
}

.dropdown-menu {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.dropdown-item:hover {
  background-color: transparent;
}
