* {
  list-style: none;
  text-decoration: none;
  font-family: "Lato";
  max-width: 1920px;
}

p {
  font-family: "Roboto";
}

#section-search {
  background-color: #e7e7e7;
}
#section-search .input-group-text {
  font-size: 1.5rem;
}

.primary-color {
  background-color: #3282F7 !important;
}

.success-color {
  background-color: #68D9A4 !important;
}

.danger-color {
  background-color: #ED6454 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.nav-item .form-control {
  top: 0;
  left: 4px;
  transform: translateY(22%);
  color: white;
}
.nav-item .form-control:focus {
  color: white;
  box-shadow: none;
}
.nav-item .form-control::placeholder {
  color: white;
  opacity: 0.8;
}
.nav-item .nav-link::after {
  border: none;
  font: var(--fa-font-solid);
  content: "\f078";
  vertical-align: 0;
  color: white;
}
.nav-item .nav-link:hover::after {
  content: "\f077";
  color: white;
}
.nav-item:hover .nav-link::after {
  content: "\f077";
  color: white;
}
.nav-item:hover .dropdown-menu {
  display: flex;
  top: 50px;
}
.nav-item:hover .dropdown-menu .dropdown-item {
  margin-left: 0;
}

.gap-10 {
  gap: 10px;
}

.dropdown-menu {
  border-radius: 0 !important;
  margin-top: -10px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.dropdown-item:focus {
  background-color: transparent !important;
  font-size: 1.2rem;
}

.card .card-img-top {
  background-color: darkgrey;
}
.card .card-body {
  background-color: #e7e7e7;
}
.card .card-body .card-title {
  font-size: 1.2rem;
}

.ingredient-container {
  font-size: 0.8rem;
  line-height: normal;
}

.instructions {
  font-size: 0.8rem;
  line-height: normal;
}
