* {
    list-style: none;
    text-decoration: none;
    font-family: "Lato";
    max-width: 1920px;
}

p {
    font-family: "Roboto";
}

//-----------------------SECTION RECHECHE----------------------
#section-search {
    background-color: #e7e7e7;

    .input-group-text {
        font-size: 1.5rem;
    }
}

.primary-color {
    background-color: #3282F7!important;
}
.success-color {
    background-color: #68D9A4!important;
}
.danger-color {
    background-color: #ED6454!important;
}

//-----------------------SECTION FILTRE----------------------

.form-control:focus {
    box-shadow: none!important;
}

.nav-item {

    & .form-control {
        top: 0;
        left: 4px;
        transform: translateY(22%);
        color: white;
    
        &:focus {
            color: white;
            box-shadow: none;
        
        }

        &::placeholder {
            color: white;
            opacity: 0.8;
        }
    }
    
    
    & .nav-link {
        &::after {
            border: none;
            font: var(--fa-font-solid);
            content: "\f078";
            vertical-align: 0;
            color: white;
        }
        
        &:hover::after {
            content: "\f077";
            color: white;
            
        }
    }
    
    &:hover {
        & .nav-link::after {
            content: "\f077";
            color: white;
        }
            
        & .dropdown-menu {
            display: flex;
            top: 50px;
    
            & .dropdown-item {
                margin-left: 0;
            }
        }
    }
}

.gap-10 {
    gap:10px
}

//-----------------------SECTION CARTES----------------------
.dropdown-menu {
    border-radius: 0!important;
    margin-top: -10px;
    
    & .dropdown-item:hover {
        background-color: transparent;
    }
}
.dropdown-item {
    cursor: pointer;
    &:hover {
        background-color: transparent!important;
        font-size: 1.2rem;
    }
}

.card {

    & .card-img-top {
        background-color: darkgrey;
        height: 200px;
    }
    
    & .card-body {
        background-color: #e7e7e7;
        height: 220px;
    
        & .card-title {
            font-size: 1.2rem;
            height: 50px;
        }
    }
}
.ingredient-container {
    font-size: 0.8rem;
    line-height: normal;
}


@mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
}

.instructions p {
    font-size: 0.8rem;
    line-height: normal;
    text-overflow: ellipsis;
    height:200px;
    @include line-clamp(7, 1.2em);

}